{# Template for home page for cat; Listing of Authors #}
{% extends "home_base.html" %}

{% spaceless %}

{% block entries%}
<h2 id="itemsHeading">Add a book </h2>
<div class="form">
	<form action="/addbook/" method="post" enctype="multipart/form-data">
	  <table>
		{{ bookForm }}
	  </table>
	  <input type="submit" value="Add" />
	</form>
</div>

{% endblock entries%}

{% endspaceless %}