{# Base template for Django site - two cols#}

{% spaceless %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        {% block seo %}{% endblock %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/media/css/cat.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/flexigrid/flexigrid.css">
		<script type="text/javascript" src="/media/jquery.js"></script>
		<script type="text/javascript" src="/media/flexigrid.js"></script>
        {% block morestyles %}{% endblock %}
        {% block morejs %}{% endblock %}
        {% block feeds %}{% endblock %}
        {% block google %}{% endblock %}
    </head>

    {% load i18n %}

    <body>
        <div id="container">
            <div id="sitetitle">
                {% block site_info %}{% endblock %}
            </div>
            <div id="menu">
			    <ul>
					<li><a href="/" title="Home">Home</a></li>
					<li><a href="/help" title="Help">Help</a></li>
					{% block extramenu %}
					{% endblock %}
				</ul>
            </div>
            <div id="content">
                <div id="left">
                    {% block content %}{{ content }}{% endblock %}
                </div>
                <div id="right">
                    {% block sidebar %}{% endblock %}
                </div>
                <div id="footer">
                    {% block footer %}{% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>
{% endspaceless %}