{# Template for home page for cat; Listing of Authors #}
{% extends "home_base.html" %}

{% spaceless %}

{% block entries%}

<h2 id="itemsHeading">Details of the book -  {{ query_list.title }} </h2>
<ul>
    <li>Title: {{ query_list.title }}</li>
    <li>ISBN: {{ query_list.isbn }}</li>
    <li>Publisher: {{ query_list.publisher }}</li>
    <li>Author(s):
    			<ul>
					{% for author in query_list.authors.all %}
						<li> <a href="{{author.get_absolute_url}}" title="{{author.name}}">{{author.name}}</a> </li>
					{%endfor %}
				</ul>
    </li>
    <li>Review: {{ query_list.review }}</li>
    <li>Categories:
        			<ul>
						{% for cat in query_list.categories.all %}
							<li> <a href="{{cat.get_absolute_url}}" title="{{cat.category}}">{{cat.category}}</a> </li>
						{%endfor %}
					</ul>

    </li>

    </ul>
</ul>

{% endblock entries%}

{% endspaceless %}