{# Template for home page for cat; Listing of Authors #}
{% extends "home_base.html" %}

{% spaceless %}

{% block entries%}
<h2 id="itemsHeading">Books in {{category}} </h2>
<table class="itemsTable"><tbody>
    {% for item in query_list %}
	<tr class="itemrow">
		<td class="itemcol"><a href="{{ item.get_absolute_url }}"> {{item.title}}</a></td>
		</td>
	</tr>
    {% endfor %}
</tbody></table>
{% endblock entries%}

{% endspaceless %}