{# Template for home page of user #}
{% extends "base.html" %}

{% spaceless %}

{% block content%}
<ol>
    <li>What is DigiCat?
        <p>My attempt to use Django to keep an inventory of all my books/Music CDs/Movie CDs</p>
    </li>
</ol>
{% endblock content%}
{% endspaceless %}