{# Template for home page of user #}
{% extends "base.html" %}

{% spaceless %}

{% block seo %}
    <title>{{ site_name }} {% block title %}{% endblock %}</title>
    <meta name="keywords" content="Digital Inventory" />
    <meta name="description" content="Digital Inventory" />
{% endblock seo%}

{% block site_info %}
    <h1><a href="/">{{ site_name }}</a></h1>
{% endblock site_info%}

{% block content%}
{% block entries%} {% endblock %}
{% block paginate %} {% endblock %}
{% endblock content%}


{% block footer %}
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/help">Help</a></li>
</ul>
{% endblock footer %}

{% endspaceless %}